%h2= t(".your_schedule")

.row.schedule
  - (1..5).each do |day_num|
    .col-md-2
      %h4= day_name(day_num)

      %ul.terms
        - @schedule[day_num].each do |term|
          %li{ style: "top: #{term_position term}px; background: ##{term.subject.color};" }
            = link_to term do
              %dl
                %dt= term.subject.name
                %dd
                  = term_time_range term
                  = term.instructor.name
