- content_for :container, "container-fluid"

.jumbotron.homepage
  .container
    %h1= t ".jumbotron_header"

    %p= t ".jumbotron_description"

    %p
      %a.btn.btn-lg.pull-right= t ".header_more"
      .clearfix

.container
  %h2.markout= t ".easy_steps"

  %ul.row.exchange-steps
    %li.col-md-3.col-xs-12
      %span.fa.fa-search
      %h3= t ".find_and_declare"

    %li.col-md-3.col-xs-12
      %span.fa.fa-comments-o
      %h3= t ".communicate"

    %li.col-md-3.col-xs-12
      %span.fa.fa-share-alt
      %h3= t ".co_create"

    %li.col-md-3.col-xs-12
      %span.fa.fa-exchange
      %h3= t ".system_care"

  %hr

  %h2.markout= t ".content_header"

  %p= t ".content"
