%p= t(".welcome", email: @resource.email)

%p= t(".change_requested")

%p= link_to t(".change_label"), edit_password_url(@resource, reset_password_token: @token)

%p= t(".warning1")
%p= t(".warning2")
